<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exosethi.schedulo" >

    <!--test-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.exosethi.schedulo.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inscription"
            android:label="@string/inscription" />
        <activity
            android:name=".Acceuil"
            android:label="@string/acceuil" />
        <activity
            android:name=".ConsultMarks"
            android:label="@string/marks" />
        <activity
            android:name=".ConsultTeachers"
            android:label="@string/teacher"/>
        <activity
            android:name=".ConsultPlanning"
            android:label="@string/planning"/>
        <activity
            android:name=".ConsultCourse"
            android:label="@string/course"/>
    </application>

</manifest>
